[Unit]
Description=Weekly Nuclei Template Curation

[Timer]
OnCalendar=Sun *-*-* 03:15:00
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
